
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            @* <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i> <span class="nav-text">Kitap İşlemleri</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="icon-plus menu-icon" href="/AdminAddBook/index"> Ekle</a></li>
                    <li><a class="icon-list menu-icon" href="/AdminListBook/index"> Listele</a></li>
                </ul>
            </li>
 *@
        </ul>
    </div>
</div>
